<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untactshop">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UntactShop">
        <activity android:name=".Activity.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Home_main">
        </activity>
        <activity android:name=".Activity.Shopping"/>
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Activity.My_page"/>
        <activity android:name=".Activity.Order_search"/>
        <activity android:name=".Activity.Infor_modify"/>
        <activity android:name=".Activity.Choice_shop"/>
        <activity android:name=".Activity.Map" android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".Activity.ShopSearchActivity"/>
        <activity android:name=".Activity.PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Activity.LocationInfoActivity" android:screenOrientation="landscape" />
        <activity android:name=".Activity.PasswordResetActivity"/>
        <activity android:name=".Activity.ChatActivity">
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <activity android:name=".Activity.ShopInfoActivity"/>
        <activity android:name=".Activity.MemberInitActivity"/>
        <activity android:name=".Activity.Home_login"/>
        <activity android:name=".Activity.Home_admin"/>
        <activity android:name=".Activity.Register_item"/>
        <activity android:name=".Activity.GalleryActivity"/>
        <activity android:name=".Activity.CameraActivity"/>
        <activity android:name=".Activity.Show_Item"/>
        <activity android:name=".Activity.Show_orders"/>
        <activity android:name=".Fragment.ItemFragment"/>
        <activity android:name=".Activity.SignUpActivity"/>
        <activity android:name=".Activity.Shopping_shop"/>
        <activity android:name=".Activity.ItemChatActivity"/>
        <activity android:name=".Activity.ShopChatActivity"/>
    </application>
</manifest>