<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untactshop">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UntactShop">
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Home_main">
        </activity>
        <activity android:name=".Shopping"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".My_page"/>
        <activity android:name=".Order_search"/>
        <activity android:name=".Infor_modify"/>
        <activity android:name=".Choice_shop"/>
        <activity android:name=".Map" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopSearchActivity"/>
        <activity android:name=".PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".LocationInfoActivity"/>
        <activity android:name=".PasswordResetActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".ShopInfoActivity"/>
        <activity android:name=".MemberInitActivity"/>
        <activity android:name=".Home_login"/>
        <activity android:name=".Home_admin"/>
        <activity android:name=".Register_item"/>
        <activity android:name=".GalleryActivity"/>
        <activity android:name=".CameraActivity"/>
        <activity android:name=".showItem"/>
        <activity android:name=".Show_orders"/>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".ItemInfo" />
    </application>
</manifest>