<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untactshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UntactShop">
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_main">
        </activity>
        <activity android:name=".Shopping"/>
        <activity android:name=".Login"/>
        <activity android:name=".My_page"/>
        <activity android:name=".Order_search"/>
        <activity android:name=".Infor_modify"/>
        <activity android:name=".Choice_shop"/>
        <activity android:name=".Map"/>
        <activity android:name=".Home_login">
        </activity>
    </application>
</manifest>